/**
 * The following styles get applied inside the editor only.
 */

.wp-block-[prefix]-add-to-cart {

	.[prefix]-product-select {

		.components-form-token-field__suggestions-list {
			padding-left: 0;
			margin-top: 15px;
			margin-bottom: 0;
		}

		.components-combobox-control__input {

			&[aria-expanded="false"] {
				min-height: 26px;
			}
		}
	}
}
